* {
    margin: 0;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 350px;
    max-width: 400px;
  }
  
  .app-container {
    display: flex;
    padding: 20px;
  }
  
  .notes-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .notes-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(130, 142, 146);
    width:70vw;
    margin-left: 20px;
    border-radius: 10px;
    height: 60px;
    max-height: 350px;
    padding: 10px;
  }
  
  .cross-button {
    background-color: transparent;
    border-width: 0;
    color: rgb(29, 20, 20);
    cursor: pointer;
  }
  
  .add-button {
    background-color: rgb(50, 110, 126);
    height: 35px;
    width: 350px;
    border-radius: 8px;
    border-width: 0;
    color: white;
    font-family: roboto 20px;
    font-weight: 500;
  }